! Urxvt {{{

! Options
urxvt.depth: 32
urxvt.transparent: false
urxvt.fading: 0
urxvt.termName: xterm-256color
urxvt.loginShell: true
urxvt.saveLines: 50
urxvt.lineSpace: 0
urxvt.title: terminal
urxvt.scrollstyle: plain
urxvt.scrollTtyKeypress: true
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: false
urxvt.secondaryScreen: true
urxvt.secondaryScroll: true
urxvt.scrollBar: false
urxvt.cursorBlink: true
urxvt.hold: false
urxvt.urlLauncher: firefox
urxvt.internalBorder: 2
urxvt.externalBorder: 0
urxvt.reverseVideo: false

! Fonts
urxvt.allow_bold: true
urxvt*font: xft:DejaVuSansMono:pixelsize=16:syle=book
urxvt*boldFont: xft:DejaVuSansMono:pixelsize=16:style=bold

! Fix font space
urxvt*letterSpace: -1

! Perl extensions
urxvt.perl-ext-common: default,matcher
urxvt.matcher.button: 1
!}}}

! Color [Solarized] {{{
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01
*color0:                S_base02
*color8:                S_base03
*color1:                S_red
*color9:                S_orange
*color2:                S_green
*color10:               S_base01
*color3:                S_yellow
*color11:               S_base00
*color4:                S_blue
*color12:               S_base0
*color5:                S_magenta
*color13:               S_violet
*color6:                S_cyan
*color14:               S_base1
*color7:                S_base2
*color15:               S_base3
!}}}


! vim:fdm=marker
