[user]
	name = Daniel Campoverde
	email = alx@sillybytes.net
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[help]
	autocorrect = 1
[credentials]
	helper = store
[credential]
	helper = store
