tags
mpd/.mpd/pid
mpd/.mpd/log
mpd/.mpd/state
mpd/.mpd/database
mpd/.mpd/playlists
mpd/.mpd/sticker.sql
ncmpcpp/.ncmpcpp/error.log
mutt/.mutt/cache
weechat/.weechat/sec.conf
weechat/.weechat/weechat.log
weechat/.weechat/logs
weechat/.weechat/weechat_fifo*
newsbeuter/.newsbeuter/cache.db
newsbeuter/.newsbeuter/history.cmdline
newsbeuter/.newsbeuter/history.search
