snippet online "Online" b
@online{$0,
    title={},
    journal={},
    author={Last, Given},
    year={2015},
    month={1},
    url={},
    urldate={2020-01}
}
endsnippet


snippet article "Article" b
@article{some,
    title={},
    journal={},
    author={Last, Given},
    year={2015}
}
endsnippet


snippet misc "Misc" b
@misc{some,
    author={Last, Given},
    year={2015}
    title={},
    url={},
	institution=""
}
endsnippet
