snippet header "Header comment"
/*
|--------------------------------------------------------------------------
| $1
|--------------------------------------------------------------------------
|
| $0
|
|
|
*/
endsnippet
