snippet bc "background-color"
background-color: #$0;
endsnippet

snippet media "media query screen"
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
endsnippet
