snippet doc "<!DOCTYPE" b
<!DOCTYPE $1 [

$0

]>
endsnippet

snippet dele "<!ELEMENT" b
<!ELEMENT $0 (#PCDATA)>
endsnippet

snippet att "<!ATTLIST" b
<!ATTLIST $0
	attName CDATA #REQUIRED>
endsnippet
