snippet meta "Metadata" b
---
title: $1
published: 2017-12-31$2
...

![](/img/$3/thumbnail.png){#thumbnail}\

$0
endsnippet

snippet img "Image"
![](/img/$1.png){.img-responsive}$0
endsnippet

snippet more "<!--more-->" b
<!--more-->$0
endsnippet

snippet video "Video"
<div class='video embed-responsive embed-responsive-16by9'>
<iframe src="$0" frameborder="0" allowfullscreen></iframe>
</div>
endsnippet
