#### Bootstrap

snippet container ".container"
<div .container>$0
endsnippet

snippet containerf ".container-fluid"
<div .container-fluid>$0
endsnippet

snippet row ".row"
<div .row>$0
endsnippet

snippet col ".col"
<div .col-$0>
endsnippet
