snippet meta "Metadata" b
---
title: $1
published: 2017-12-31$2
author: Daniel Campoverde C.
lang: es
abstract: |
	Some Abstract here$3
...

$0
endsnippet


snippet img "Image"
![$2](./img/$1.png)$0
endsnippet


snippet table "Table"

Some title      Some title
------------    -----------
data            data

Table:  Demonstration of simple table syntax.

endsnippet


snippet code "Code"
\`\`\`$0
\`\`\`
endsnippet

snippet py "Python Code"
\`\`\`python
$0
\`\`\`
endsnippet
