snippet p "print"
print($0)
endsnippet

snippet alert "alert"
let alert = UIAlertController(
	title: "",
	message: "",
	preferredStyle: .alert)

alert.addAction(UIAlertAction(
	title: ""
	style: .default,
	handler: { action in
		// Action
	}))

alert.addAction(UIAlertAction(title: "Cancel", style: .cancel, handler: nil))

self.present(alert, animated: true, completion: nil)
endsnippet
