set editing-mode vi
set show-mode-in-prompt on

set vi-ins-mode-string "  "
set vi-cmd-mode-string "@ "

$if mysql
    set editing-mode vi
$endif

$if octave
    set editing-mode vi
$endif

$if mode=vi
    set keymap vi-insert
    "\C-o": clear-screen
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-w": kill-word
    "\C-y": "\C-[^i?\C-m"

    set keymap vi-command
    "ciw": "lbcw"
    "ciW": "lBcW"
    "diw": "lBdw"
    "diW": "lBdW"
    "yiw": "lbyw"
    "yiW": "lByW"
    "gg": beginning-of-history
    "G": end-of-history
    "\C-y": "\C-[^i?\C-m"
$endif
