snippet angular "AngularJs script line"
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js">
</script>
endsnippet

snippet na "ng-app"
ng-app="$1"$0
endsnippet

snippet nc "ng-controller"
ng-controller="$1"$0
endsnippet

snippet nm "ng-model"
ng-model="$1"$0
endsnippet
