snippet class "public class"
public class `!v expand('%:t:r')`
{
	$1
}
endsnippet

snippet out "System.out.println"
System.out.println("$1");
endsnippet

snippet pr "private"
private $1
endsnippet

snippet pu "public"
public $1
endsnippet
