snippet html "HTML 5 skeleton" b
<!doctype html>

<html lang"${1:es}">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="$2">
		<title>$3</title>
	</head>

	<body>$0
	</body>

</html>
endsnippet

snippet link "Browserlink script line"
<script src='http://127.0.0.1:9001/js/socket.js'></script>
endsnippet

snippet j "JSP java line"
<% $1 %>
endsnippet
