extends html, laravel, phpunit

snippet php "PHP tag" b
<?php

$0

?>
endsnippet

snippet p "Inline PHP tag"
<?php $1 ?>
endsnippet

snippet fun "Public Function"
public function $1($2)
{$0
}
endsnippet

snippet pfun "Private Function"
private function $1($2)
{$0
}
endsnippet

snippet t "$this->"
$this->
endsnippet
