extends html, laravel

snippet php "PHP tag" b
<?php
$1
?>
endsnippet

snippet p "Inline PHP tag"
<?php $1 ?>
endsnippet

snippet fun "Public Function"
public function $1()
{$2
}
endsnippet

snippet pfun "Private Function"
private function $1()
{$2
}
endsnippet
