snippet sh "SH hash bang" b
#!/bin/sh
endsnippet

snippet fun "function" b
function $1
{$0
}
endsnippet

snippet case "case statement skeleton"
case \$${1:variable} in
    'case1')
        statement
        ;;
    *)
        statement
        ;;
esac
endsnippet
